@import 'https://fonts.googleapis.com/css?family=Roboto';

* {
    box-sizing: border-box;
}

.page-wrapper__page-content {
    font-family: Roboto;
}

.top-section-wrapper__top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 48px;
    padding: 0 24px;
    background-color: #2196F3;
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
}

.top-navbar__logo-wrapper {
    padding: 12px 0;
}

.top-navbar-logo-wrapper__logo-image {
    height: 24px;
}

.top-navbar__top-search-box {
    position: absolute;
    width: 200px;
    right: 24px;
    top: 6px;
    bottom: 6px;
    color: white;
}

.top-search-box__search_query {
    position: relative;
    width: 200px;
    border: none;
    padding: 8px 8px 8px 72px;
    font-size: 16px;
    line-height: 20px;
    border-radius: 2px;
    background-color: #64B5F6;
    color: inherit;
}

.top-search-box__search_icon::before {
    position: absolute;
    top: 6px;
    left: 24px;
    font-family: 'Material Icons';
    line-height: 24px;
    content: 'search';
}

.main-section__tile-container {
    margin-top: 55px;
}

.tile-container__tile-wrapper {
    color: white;
    background-color: #2196F3;
    margin-bottom: 2.7777778%;
}

.tile-container__tile-thumbnail {
    width: 100%;
}

.tile-container__tile-title {
    padding: 16px 56px 0 16px;
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tile-container__tile-desc {
    padding: 2px 56px 16px 16px;
    margin: 0;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}