@import 'https://fonts.googleapis.com/css?family=Roboto';

.header {
    width: 100%;
    text-align: center;
}

.header h1 {
    font-size: 26px;
    font-weight: normal;
}

.nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav button {
    width: 100%;
}

img {
    width: 100%;
}